.drawer-menu #nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  background: #fff;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  transition-property: transform;
  transition-duration: 0.4s;
  transform: translateX(-320px);
  cursor: pointer;
}

.drawer-menu .category-link.checked {
    font-weight: bold !important;
}

.drawer-menu .price-link.checked {
    font-weight: bold !important;
}

.drawer-menu #nav .accordion__main.contents {
  padding: 10px 20px;
}
.drawer-menu #nav .price-range input {
  padding-left: 6px;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 62px;
  height: 37px;
  line-height: 37px;
  font-size: 14px;
  padding-left: 5px;
}
.drawer-menu #nav .price-range button {
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
  width: 4.8rem;
  height: 3.7rem;
  line-height: 2.6;
  margin-left: 1rem;
  text-transform: none;
}
.drawer-menu #nav.open {
  transform: translateX(0);
}
.drawer-menu #btn {
  position: absolute;
  right: 0;
  top: 0;
}
.drawer-menu .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: #ef8625;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.drawer-menu .hamburger:hover {
  opacity: 0.7;
}
.drawer-menu .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.drawer-menu .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.drawer-menu .hamburger-inner, .drawer-menu .hamburger-inner::before, .drawer-menu .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #ef8625;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.drawer-menu .hamburger-inner::before, .drawer-menu .hamburger-inner::after {
  content: "";
  display: block;
}
.drawer-menu .hamburger-inner::before {
  top: -10px;
}
.drawer-menu .hamburger-inner::after {
  bottom: -10px;
}
.drawer-menu .hamburger--slider .hamburger-inner {
  top: 2px;
}
.drawer-menu .hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.drawer-menu .hamburger--slider .hamburger-inner::after {
  top: 20px;
}
.drawer-menu .hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.drawer-menu .hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.drawer-menu .hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.filter-menu {
  margin-right: 20px;
  border: 1px solid black;
  padding: 6px 13px;
}

.menu-open .overlay-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0;
  transition: opacity 0.4s;
  opacity: 0.5;
  z-index: 9999999;
}/*# sourceMappingURL=drawer.css.map */